
.cap h1{

    





    
    margin-right: 600px;
    margin-bottom: 50px;
    font-weight: bold;
    
}

.cap p{
    margin-right: 650px;
    margin-bottom: 70px

}
.read{
    margin-right: 650px;
    margin-bottom: 170px;
    


   
width: 144px;
height: 40px;

background: #eaebeb;
border-radius: 5px rgb(255, 1, 1);

  
}
.read:hover{
    background-color: rgb(243, 77, 133);
}
.carousel-indicators {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 20px solid;
    margin-left: 700px;
  }
  .carousel-indicators .active{
    color: rgb(243, 77, 133);
    
  }
